{{!-- {{> header}} --}}
<main class="py-5 bg-light border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">Welcome to Bug Bash!</h1>
      <p class="lead mb-0">We're buggin' out so you don't have to.</p>
    </div>
  </div>
  </div>
  <!-- Page content-->
  <div class="container display-flex>
    <h2 class="fw-bolder">My Bugs</h2>
    <div class="row">
      <!-- Bug entries-->
      <div class="col-lg-12">
        <!-- Nested row for non-featured bug posts-->
        <div class="row">
          <div class="col-lg-12">
            <!-- bug posts-->
            {{> post}}
          </div>
          </div>
        </div>
      </div>
    </div>
</main>
{{!-- {{> footer}} --}}