{{!-- partial to render a user's bugs --}}
{{> header}}
<main class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Bug Bash!</h1>
            <p class="lead mb-0">We're buggin' out so you don't have to.</p>
        </div>
    </div>
    </div>
    <!-- Page content-->
    <div class="container d-flex flex-wrap>
        <div class="mt-2 mb-2">
    <h2 class="fw-bolder fs-2">My Bugs</h2>
    </div>
        <div class="row justify-content-center">
            <!-- Bug entries-->
            <div class="row">
                <!-- bug posts-->
                {{> post}}
            </div>
        </div>
    </div>
    </div>
</main>
{{> footer}}