{{!-- page to render bugs by language --}}
{{> header}}
<main class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Bug Bash!</h1>
            <p class="lead mb-0">We're buggin' out so you don't have to.</p>
        </div>
    </div>
    </div>
    <div class="container" id="language-heading">
        <h2 id="language-header">{{post.language}}</h2>
    </div>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Bug entries-->
            <div class="col-lg-12">
                <!-- Nested row for non-featured bug posts-->
                <div class="row">
                        <!-- bug posts-->
                        {{> post}}
                </div>
            </div>
        </div>
    </div>
</main>
{{> footer}}